@import url('https://fonts.googeapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    width:100%;
    font-size:16px;
    background : #EEE;
    color:#777;
    display: flex;
    justify-content: center;
    align-items: center;
  }
section
{
position: relative;
width:100%;
min-height: 100vh;
padding:100px;
display: flex;
justify-content: space-between;
align-items:center;
background-color: #fff;
}
header
{
position: absolute;
top: 0;
left: 0;
width:100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo
{
position: relative;
max-width: 540px;
}

header ul
{
position: relative;
display: flex;
}
header ul li
{
list-style: none;
}
header ul li a
{
  display:inline-block;
  color:#333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .item-container{
    position: relative;
    margin:24px;
    width: 320px;
    height:570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.15);
    cursor: pointer;
  }
  .img-container, .body-container{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  }
  
  .img-container img{
    width: 100%;
  }
  
  .body-container{
    position: relative;
  
  }
  .overlay{
    position:relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83 , 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
  }
  .item-container:hover .overlay{
    opacity: 1;
    height: 150px;
  
  }
  .event-info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  
  }
  
  .title, .price{
    color:#043cfc;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin:12px; 
  
  }
  .info{
    letter-spacing: 0.5px;
    margin-bottom: 6px;
  }
  .seperator{
    width: 20%;
    height: 6px;
    background-color:#043cfc ;
    margin-bottom: 16px;
  }
  .additional-info{
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
    
    }
  
    .additional-info .info{
      font-size: 0.9em;
      margin-bottom: 20px;
      text-align: center;
    }
    
  .info i{
    color:#043cfc ;
    font-size: 1.1em;
    margin-right: 4px;
  
  }
  
  .info span{
  color: #043cfc;
  font-weight: bolder;
  
  
  }
  .action{
    color: #fff;
    border:3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
  }
  
  .item-container:hover .action{
    top: 50px;
  }
  .action:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }

.circle {
  
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(300px at  right 450px);
  }
  
  .circle2
  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(60px at 10px 900px);
  }
  .circle3
  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(40px at 550px 900px);
  }
  .circle4
  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(10px at 600px 100px);
  }
  .circle5
  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(100px at 210px 400px);
  }
  .circle6
  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #043cfc;
    clip-path: circle(90px at 900px 900px);
  }
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 25%;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.card-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.card-header h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.card-header h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 14px;
  color: #999;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body ul li {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

button {
  background-color: #043cfc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 200px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 911px)
{

  header{

    padding:20px;
  }
  header .logo{

    max-width: 60px;
  }

  header ul{
    
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./icon/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);
    z-index: 11;
  }
  .toggle.active{
    position: fixed;
    right:20px;
    background: url(./icon/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);

  }
  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;

  }
  header ul li a{

    font-size: 1.5em;
    margin: 5px 0;
  }
section{
padding: 20px 20px 120px;
}
.content {

  flex-direction: column;
  margin-top: 100px;
}
.content .textBox h2{

  font-size:2.5em;
  margin-bottom: 15px;
}
.content .textBox {

  max-width: 100%;
}
.content .imgBox{

  max-width: 100%;
  justify-content: center;
}

.content .imgBox img{

  max-width: 300px;
}
.thumb li img{
  max-width: 40px;
}
.circle
{

clip-path:circle(350px at center bottom)

}
.sci
{
  background:#043cfc;
  right: 0;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card {
  width: 100%;
}
}





