@import url('https://fonts.googeapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
section
{
position: relative;
width:100%;
min-height: 100vh;
padding:100px;
display: flex;
justify-content: space-between;
align-items:center;
background-color: #fff;
}
header
{
position: absolute;
top: 0;
left: 0;
width:100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo
{
position: relative;
max-width: 540px;
}

header ul
{
position: relative;
display: flex;
}
header ul li
{
list-style: none;
}
header ul li a
{
  display:inline-block;
  color:#333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content .textBox
{
position: relative;
max-width: 600px;

}


.content .textBox h2
{
  color: #333;
  font-size:2.5em;
  line-height: 1.4em;
  font-weight: 500;

}


.content .textBox h2 span
{
color:#043cfc;
font-size:1.2em;
font-weight: 900;
}
.content .textBox p
{
  color: #333;
  
}
.content .textBox a
{
  display: inline-block;
  margin: top 20px;
  padding: 8px 20px;
  background:#043cfc;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox
{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.content .imgBox img
{
  max-width: 505px;
}

.thumb
{
  position: absolute;
  left:50%;
  bottom: -100px;
  transform: translateX(-50%);
  display: flex;

}

.thumb li
{
list-style: none;
display:inline-block;
margin:0 20px;
cursor: pointer;
transition:0.5s;
}
.thumb li:hover 
{

  transform: translateY(-15px);
  
}
.thumb li img
{
  max-width: 60px;
}
.sci
{
  position: absolute;
  top:50%;
  right:-50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li
{
list-style: none;

}

.sci li a 
{
  display: inline-block;
  margin:5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

.circle {
  
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(280px at  600px 475px);
}

.circle2
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(60px at left 800px);
}
.circle3
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(16px at 600px 100px);
}
.circle4
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(16px at 600px 900px);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 25%;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.card-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.card-header h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.card-header h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 14px;
  color: #999;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body ul li {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

button {
  background-color: #043cfc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s;
}

.slides img {
  width: 33.33%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 911px)
{

  header{

    padding:20px;
  }
  header .logo{

    max-width: 60px;
  }

  header ul{
    
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./icon/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);
    z-index: 11;
  }
  .toggle.active{
    position: fixed;
    right:20px;
    background: url(./icon/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);

  }
  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;

  }
  header ul li a{

    font-size: 1.5em;
    margin: 5px 0;
  }
section{
padding: 20px 20px 120px;
}
.content {

  flex-direction: column;
  margin-top: 100px;
}
.content .textBox h2{

  font-size:2.5em;
  margin-bottom: 15px;
}
.content .textBox {

  max-width: 100%;
}
.content .imgBox{

  max-width: 100%;
  justify-content: center;
}

.content .imgBox img{

  max-width: 300px;
}
.thumb li img{
  max-width: 40px;
}
.circle
{

clip-path:circle(350px at center bottom)

}
.sci
{
  background:#043cfc;
  right: 0;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card {
  width: 100%;
}
}





