@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto',sans-serif;
}
html{
  background-color: #fff;
}

section
{
position: relative;
width:100%;
min-height: 100vh;
padding:100px;
display: flex;
justify-content: space-between;
align-items:center;
background-color: #fff;
}

header
{
position: absolute;
top: 0;
left: 0;
width:100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo
{
position: relative;
max-width: 540px;
}

header ul
{
position: relative;
display: flex;
}
header ul li
{
list-style: none;
}
header ul li a
{
  display:inline-block;
  color: #666;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  padding: 30px 15px;
	z-index:3;
}
header li a::before{
  position: absolute;
	content: "";
	left: 0;
	bottom: 50%;
	height: 34px;
	width:0%;
	background: #006DFE;
	margin-bottom: -17px;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	border-radius:3px;
	z-index:-1;
}
header li:hover a:before{
  opacity:1;
	visibility:visible;
	width:100%;
}

header li:hover a{
color: #fff;
}

header  li.active a:before{
	opacity:1;
	visibility:visible;
	width:100%;
}

header li.active a{
	color:#fff;
}
header  li a i{
	margin-left:10px;
	font-size:15px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
header  li a:hover{
	color:#fff ;
}
header li:hover a i{
	transform:rotate(180deg);
}
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content .textBox
{
position: relative;
max-width: 600px;

}
.content .textBox h2
{
  color: #333;
  font-size:2.1em;
  line-height: 1.4em;
  font-weight: 500;

}

.content .textBox h2 span
{
color:#043cfc;
font-size:1.2em;
font-weight: 900;
}
.content .textBox p
{
  color: #333;
  padding-top: 20px;
  padding-bottom:20px;
}
.content .textBox a
{
  display: inline-block;
  margin-top:  20px;
  padding: 8px 20px;
  background:#043cfc;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox
{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.content .imgBox .square{

  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 7s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%{
      transform: translateY(-40px);
  }
  50%{
      transform: translateY(40px);
  }
}

.content .imgBox .square:nth-child(1){

  top: -50px;
  right: 450px;
  width: 100px;
  height: 100px;
}
.content .imgBox .square:nth-child(2){
  top: 385px;
  left: 10px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.content .imgBox .square:nth-child(3){
  bottom: 200px;
  right: 40px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.content .imgBox.square:nth-child(4){
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.content .imgBox.square:nth-child(5){
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
  
}
.content .imgBox img
{
  max-width: 505px;
}

.thumb
{
  position: absolute;
  left:50%;
  bottom: -100px;
  transform: translateX(-50%);
  display: flex;

}

.thumb li
{
list-style: none;
display:inline-block;
margin:0 20px;
cursor: pointer;
transition:0.5s;
}
.thumb li:hover 
{

  transform: translateY(-15px);
  
}
.thumb li img
{
  max-width: 60px;
}
.sci
{
  position: absolute;
  top:50%;
  right:-50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.sci li
{
list-style: none;

}

.sci li a 
{
  display: inline-block;
  margin:5px 0;
  transform: scale(0.6);
  filter: invert(1);
  
}

.circle {
  
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(500px at  right 600px);
 
}

.circle2
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(60px at left 800px);
}
.circle3
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(16px at 550px 100px);
}
.circle4
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(10px at 600px 100px);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;  
}

footer {
  position: relative;
  width: 100%;
  background: #043cfc;
  min-height: 100px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
footer .social_icon, footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;

}
footer .social_icon li, footer .menu li{
  list-style: none;
}
footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}
footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color:#fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./imgs/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{

  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;

}
footer .wave#wave2{

  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;

}
footer .wave#wave3{

  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;

}
footer .wave#wave4{

  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;

}


@keyframes animateWave{
  0%
  
  {
    background-position-x:1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02{
  0%
  
  {
    background-position-x:0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
.pricing-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 25%;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.card-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.card-header h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.card-header h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 14px;
  color: #999;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-body ul li {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

button {
  background-color: #043cfc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 200px;
  font-size: 16px;
  cursor: pointer;
}

.circle5
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(50px at right 800px);
}
.circle6
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(25px at left 800px);
}
.circle7
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(16px at 550px 100px);
}

.circle8
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(595px at right -134px);
}


@media screen and (min-width: 1920px){
  
  .content{
    justify-content: space-evenly;
    padding: 163px;
    margin: 109px;
  }
  
  

}
  


@media (max-width: 911px)
{

  header{

    padding:20px;
  }
  header .logo{

    max-width: 60px;
  }

  header ul{
    
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./icon/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);
    z-index: 11;
  }
  .toggle.active{
    position: fixed;
    right:20px;
    background: url(./icon/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);

  }
  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;

  }
  header ul li a{

    font-size: 1.5em;
    margin: 5px 0;
  }
section{
padding: 20px 20px 120px;
}
.content {

  flex-direction: column;
  margin-top: 100px;
}
.content .textBox h2{

  font-size:2.5em;
  margin-bottom: 15px;
}
.content .textBox {
right: 13px;
  max-width: 100%;
}
.content .imgBox{

  max-width: 100%;
  justify-content: center;
}

.content .imgBox img{

  max-width: 300px;
}
.thumb li img{
  max-width: 40px;
}
.circle
{

clip-path:circle(350px at center bottom)

}
.sci
{
  background:#043cfc;
  right: -20px;
  width: 35px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.card {
  width: 100%;
}
}





