@import url('https://fonts.googeapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;


}
section
{
position: relative;
width:100%;
min-height: 100vh;
padding:100px;
display: flex;
justify-content: space-between;
align-items:center;
background-color: #fff;
}
header
{
position: absolute;
top: 0;
left: 0;
width:100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo
{
position: relative;
max-width: 540px;
}

header ul
{
position: relative;
display: flex;
}
header ul li
{
list-style: none;
}
header ul li a
{
  display:inline-block;
  color: #666;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  padding: 30px 15px;
	z-index:3;
}
header li a::before{
  position: absolute;
	content: "";
	left: 0;
	bottom: 50%;
	height: 34px;
	width:0%;
	background: #006DFE;
	margin-bottom: -17px;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	border-radius:3px;
	z-index:-1;
}
header li:hover a:before{
  opacity:1;
	visibility:visible;
	width:100%;
}

header li:hover a{
color: #fff;
}

header  li.active a:before{
	opacity:1;
	visibility:visible;
	width:100%;
}

header li.active a{
	color:#fff;
}
header  li a i{
	margin-left:10px;
	font-size:15px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
header  li a:hover{
	color:#fff ;
}
header li:hover a i{
	transform:rotate(180deg);
}
.content
{
  position: relative;
  width: 100%;
 
  justify-content: space-between;
  align-items: center;
}

.circle {
  
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(180px at  right 250px);
}

.circle2
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(60px at left 800px);
}
.circle3
{
  position: absolute;
  top:16%;
  left:40%;
  width: 20%;
  height: 7%;
  background: #043cfc;
  border-radius:10px;
}
.circle4
{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #043cfc;
  clip-path: circle(16px at 631px 920px);
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}


footer {
  position: relative;
  width: 100%;
  background: #043cfc;
  min-height: 100px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
footer .social_icon, footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;

}
footer .social_icon li, footer .menu li{
  list-style: none;
}
footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}
footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color:#fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}


.ytcontainer{
  max-width: 1000px;
  margin: 0 auto;
}
.ytcontainer h2{
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
}
.yt-holder{
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56%;
  border: 9px solid #043cfc;
  border-radius: 10px;
}
.yt-holder > iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}


@media (max-width: 911px)
{

  header{

    padding:20px;
  }
  header .logo{

    max-width: 60px;
  }

  header ul{
    
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(./icon/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);
    z-index: 11;
  }
  .toggle.active{
    position: fixed;
    right:20px;
    background: url(./icon/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter :invert(1);

  }
  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;

  }
  header ul li a{

    font-size: 1.5em;
    margin: 5px 0;
  }
section{
padding: 20px 20px 120px;
}
.content {

  flex-direction: column;
  margin-top: 100px;
}
.content .textBox h2{

  font-size:2.5em;
  margin-bottom: 15px;
}
.content .textBox {

  max-width: 100%;
}
.content .imgBox{

  max-width: 100%;
  justify-content: center;
}

.content .imgBox img{

  max-width: 300px;
}
.thumb li img{
  max-width: 40px;
}
.circle
{

clip-path:circle(350px at center bottom)

}
.sci
{
  background:#043cfc;
  right: 0;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card {
  width: 100%;
}

.ytcontainer h2{
  text-align: center;
  padding-bottom: 2px;
  color: #fff;

}
.circle3
{
  position: absolute;
  top:35%;
  left:19%;
  width: 61%;
  height: 7%;
  background: #043cfc;
  border-radius:10px;
}
}





